.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: teal;
}

.heading {
  color: #fff;
  font-size: 3rem;
}

.para {
  color: #fff;
}
